{
  "openapi": "3.0.4",
  "info": {
    "title": "Data Potluck API's",
    "description": "Our API allows users to effortlessly explore a wide range of courses offered by various Colleges and Schools at Arizona State University.",
    "contact": {
      "email": "customerservice@asu.edu"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myasuplat-dpl.asu.edu"
    }
  ],
  "tags": [
    {
      "name": "Courses",
      "description": "Operations related to courses"
    },
    {
      "name": "Academic-plan",
      "description": "Operations related to academic plans"
    }
  ],
  "paths": {
    "/api/course/{strm}/{courseId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get course details by CourseID and term",
        "description": "Returns details of a specific course for a given term and courseId.",
        "operationId": "getCourseById",
        "parameters": [
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code (e.g., 2247 for Fall 2024)",
            "schema": {
              "type": "integer"
            },
            "example": 2247
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "description": "The course ID",
            "schema": {
              "type": "integer"
            },
            "example": 104171
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include additional information like equivalent courses",
            "schema": {
              "type": "string",
              "enum": [
                "equivalentCourses"
              ]
            },
            "example": "equivalentCourses"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Course not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/course/{strm}/subject/{subject}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get courses by subject and catalog number range",
        "description": "Returns courses for a subject within a specified catalog number range.",
        "operationId": "getCoursesBySubject",
        "parameters": [
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code",
            "schema": {
              "type": "integer"
            },
            "example": 2247
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject code (e.g., CSE for Computer Science)",
            "schema": {
              "type": "string"
            },
            "example": "CSE"
          },
          {
            "name": "catalogNumberStart",
            "in": "query",
            "required": false,
            "description": "Catalog number start (inclusive)",
            "schema": {
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "catalogNumberEnd",
            "in": "query",
            "required": false,
            "description": "Catalog number end (inclusive)",
            "schema": {
              "type": "integer"
            },
            "example": 200
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include additional information",
            "schema": {
              "type": "string",
              "enum": [
                "equivalentCourses"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Courses not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/api/codeset/acad-plan/{acadPlanCode}": {
      "get": {
        "tags": [
          "Academic-plan"
        ],
        "summary": "Get academic plan details by acadPlanCode",
        "description": "Returns details of a specific academic plan by its code.",
        "operationId": "getAcademicPlan",
        "parameters": [
          {
            "name": "acadPlanCode",
            "in": "path",
            "required": true,
            "description": "The academic plan code",
            "schema": {
              "type": "string"
            },
            "example": "9HOHONALL"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Include additional information",
            "schema": {
              "type": "string",
              "enum": [
                "detail",
                "*"
              ]
            },
            "example": "detail"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcademicPlan"
                }
              }
            }
          },
          "404": {
            "description": "Academic plan not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Course": {
        "type": "object",
        "properties": {
          "courseId": {
            "type": "integer",
            "description": "Unique course identifier"
          },
          "subject": {
            "type": "string",
            "description": "Course subject code"
          },
          "catalogNumber": {
            "type": "string",
            "description": "Course catalog number"
          },
          "title": {
            "type": "string",
            "description": "Course title"
          },
          "description": {
            "type": "string",
            "description": "Course description"
          }
        }
      },
      "AcademicPlan": {
        "type": "object",
        "properties": {
          "acadPlanCode": {
            "type": "string",
            "description": "Academic plan code"
          },
          "description": {
            "type": "string",
            "description": "Plan description"
          },
          "degreeType": {
            "type": "string",
            "description": "Type of degree"
          }
        }
      }
    }
  }
}