{
  "openapi": "3.1.0",
  "info": {
    "title": "Data Potluck API's",
    "description": "Our API allows users to effortlessly explore a wide range of courses offered by various Colleges and Schools at Arizona State University. With intuitive endpoints and comprehensive filters, users can easily navigate through different academic programs, view course details, and access essential information, empowering them to make informed decisions about their educational journey at ASU.",
    "contact": {
      "email": "customerservice@asu.edu"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.myasuplat-dpl.asu.edu",
      "variables": {
        "environment": {
          "default": "api",
          "description": "Environment to use for the API calls",
          "enum": [
            "api",
            "mock"
          ]
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Courses",
      "description": "Operations related to courses"
    }
  ],
  "paths": {
    "/api/course/{strm}/{courseId}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get course details by CourseID and term",
        "description": "Returns details of a specific course for a given term and courseId.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": [
                "equivalentCourses"
              ]
            },
            "example": "equivalentCourses"
          },
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "description": "The course ID.",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "404": {
            "description": "Course not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for course not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/course/{strm}/subject/{subject}": {
      "get": {
        "tags": [
          "Courses"
        ],
        "summary": "Get courses by subject and catalog number range",
        "description": "Returns courses for a subject within a specified catalog number range.",
        "parameters": [
          {
            "name": "strm",
            "in": "path",
            "required": true,
            "description": "The term code.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subject",
            "in": "path",
            "required": true,
            "description": "The subject code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogNumberStart",
            "in": "query",
            "description": "Catalog number start (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            }
          },
          {
            "name": "catalogNumberEnd",
            "in": "query",
            "description": "Catalog number end (inclusive).",
            "schema": {
              "type": "integer",
              "minLength": 1,
              "maxLength": 3
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include additional information like equivalent courses.",
            "schema": {
              "type": "string",
              "enum": [
                "equivalentCourses"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "404": {
            "description": "Courses not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for courses not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message for internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}